/*
My css seacation
*/
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/
*{
	margin: 0;
	padding: 0;
}
a,a:hover{
	text-decoration: none;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
/*header secation start here*/
header{
	width: 100%;
	background-image: url(../img/background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.nav{
	display: flex;
	justify-content: space-between;
	padding: 28px 0;
}
.menu-item ul li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	
}
.menu-item ul li a{
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	text-transform: uppercase;
	color: #3d2514;
	letter-spacing: 2px;

    
}
.contact{
	text-align: center;
	margin-bottom: 16px;
}
.contact img{
	vertical-align: middle;

}
.banner-text{
	height: 80vh;
	display: table-cell;
	vertical-align: middle;
}
.contact span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #3d2514;
	font-size: 12px;


}
.banner-text p{
	border: 3px dashed black;
	padding: 8px;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
	display: inline-block;
}
.banner-text h1{
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-size: 75px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 3px 3px white;



}
.banner-text h3{
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-size: 56.45px;
	text-transform: uppercase;
	text-shadow: 2px 2px white;

}
/*header secation end here*/

/*burger gallery start from here*/
.burger-gallery{
	width: 100%;
	padding: 60px 0;
}
.gallery{
	display: flex;


}
.left{
	margin: 0 15px;
	position: relative;
}
.text{
	position: absolute;
	top: 32px;
	left: 32px;
}
.text h5{
	text-transform: uppercase;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	letter-spacing: 1px;

}
.text h2{
	text-transform: uppercase;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 41px;
	letter-spacing: 1px;



}
.right-top{
	position: relative;
	margin-bottom: 30px;
}
.right-buttom{
	position: relative;
}
.right-top{
	width: 100%;
}


/*burger gallery start from here*/


/*burger button start*/
.burger-button{
	width: 100%;
	padding: 60px 0;
	text-align: center;
}
.buttan button{
	font-family: 'Bebas Neue', cursive;
    padding: 5px 15px;
    font-size: 25px;
    background: #ffc135;
    border: none;
    color: #42200b;
    border-radius: 5px;
    transition: .6s;
}
.buttan h3{

    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    margin: 30px 0;
    text-transform: uppercase;
    color: #42200b;
    letter-spacing: 2px;
}
.buttan p{
	font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    letter-spacing: 2px;
    color: #42200b;

}
.burger-list {
    display: flex;
    padding: 80px 0;
    text-align: center;
}
.burger-item img {
    margin-bottom: 50px;
    height: 250px;
    transition: .5s;
}
.burger-item h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 37px;
    color: #42200b;
}
.burger-item p {
    font-family: 'Bebas Neue', cursive;
    color: #42200b;
    margin: 20px 0;
    width: 360px;
}
.burger-item button {
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    background: red;
    padding: 10px 25px;
    border: none;
    text-transform: uppercase;
    transition: .5s;
    border-radius: 5px;
}

/*burger button end*/

/*slide burger secation start*/
.event-section {
	width: 100%;
    padding: 60px 0;
}
.event-box{
	display: flex;
	padding: 20px;
	box-shadow: 10px 10px 16px rgb(0 0 3);
	
}
.event-text{
	flex-basis: 50%;
	padding: 20px 32px;
}
.event-img{
	flex-basis: 50%;
}
.event-img img{
	max-width: 100%;
}


.event-text h2{
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	color: #42200b;
	font-size: 29.17px;
	

}
.event-text h1{
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	color: #42200b;
	font-size: 41px;
	

}
.event-text p{
	font-family: 'Montserrat', sans-serif;
	color: #887169;
	font-size: 20.83px;
	
	

}

/*slide burger secation end*/

/*contact secation start*/

.contact-from{
	height: 100vh;
	background-image: url(../img/botol.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
}
.c-title h3 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: #42200b;
    font-size: 29px;
}
.c-title h2 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    color: #42200b;
    font-size: 50px;
    text-transform: uppercase;
}
.c-input {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
.input-item {
    width: 100%;
    padding: 10px 0px;
}
.input-item input {
    width: 44%;
    padding: 12px 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20.83px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.input-item button {
    background: red;
    border: none;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    padding: 11px 120px;
    font-size: 23px;
    border-radius: 5px;
    width: 49%;
    transition: .5s;
}
/*contact secation end*/

/*buttom secation start here*/
.buttom-part{
	padding: 80px 0px;
}
.buttom{
	background-image: url(../img/night.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 5px;
}
.buttom-top{
	display: flex;
    justify-content: space-between;
}
.top-left{
	padding: 30px;
}
img{
	max-width: 100%;
}
.top-left p {
    color: #fff;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 30px 0;
    line-height: 29px;
}
.top-right {
    padding: 30px;
    margin: auto 25px;
    margin-bottom: -44px;
    margin-right: -60px;
}

.location p{
	color: #fff;
    display: flex;
    margin-bottom: 29px;
    font-family: 'Bebas Neue', cursive;
    width: 287px;
}
.buttom-buttom{
	display: flex;
	justify-content: space-between;
}
.bt-left {
    color: #fff;
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
    padding: 30px;
    margin-top: 80px;
}
.bt-right {
    margin-top: 80px;
    padding: 20px;
}

.bt-right li {
    display: inline-block;
    margin-right: 10px;
}
.bt-right a {
    background: #fff;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 18px;
    color: #050505;
    transition: .4s;
}

/*buttom secation end here*/









